<h2><%= list.title %></h2>

<% if current_user.is_teacher? %>
  <%= link_to edit_subject_list_path(subject, list) do %>
    Edit
  <% end %>
  <%= link_to subject_list_path(subject, list), remote: true, method: :delete, data: { confirm: "Are you sure?"} do %>
    Delete
  <% end %>
<% end %>

<div class = "tasks">
<% list.incompleted_tasks(current_user).each do |task| %>
  <%= render partial: task, locals: { subject: subject, list: list } %>
<% end %>
</div>

<% if current_user.is_teacher? %>
  <%= form_for [subject, list, Task.new], remote: true do |f| %>
    <%= f.text_field :title, placeholder: "Add Task Here...", class: "form-control" %>
  <% end %>
<% end %>

<% unless last_index %> 
  <hr>
<% end %>