<div class = "main jumbotron">
  <div class = "center">
    <h1><%= platform_name %></h1>
    <p><%= platform_description %></p>
    <%= link_to "Sign Up", "#" , class: "btn" %>
    <%= link_to "Sign In", "students"+"/1" , class: "btn" %>    
  </div>
</div>

<div class = "jumbotron">
  <div class = "feature">
    <!-- Side Image -->
    <div class = "image">
    </div>
    <!-- Description -->
    <div class = "details">
      <div class = "center">
        <h2>Platform for Students and Lecturers</h2>
        <p>Cooperating with student has never 
been easier</p>
      </div>
    </div>
  </div>
</div>

<div class = "cta jumbotron">
  <div class = "center">
    <h1>Plan for your students</h1>
    <p>and help them with their studies</p>
    <%= link_to "Get Started", "#" , class: "btn" %>
  </div>
</div>

