<div id="<%= dom_id(task) %>">
  <% if current_user.is_student? %>
    <%= form_for(task, url: done_student_url(task.id), method: :put) do %>
      <%= check_box_tag "task_id", task.id, false, { class: "check_done" } %>
    <% end %>
  <% end %>

  <span class = "task_title">
    <%= link_to task.title, subject_list_task_path(subject,list, task) %>
  </span>

  <% if current_user.is_teacher? %>
    <%= link_to edit_subject_list_task_path(subject, list, task), class: 'icon edit' do %><% end %>
    <%= link_to subject_list_task_path(subject, list, task), class: 'icon delete', method: :delete, remote: true, data: { confirm: "Are you sure?"} do %><% end %>
<% end %>
</div>