<div class = "col-5 margin-3.5 box box-panel single-box">

  <!-- Name -->
  <div class = "header blue-header">
    <% if @user.name? %>
      <h1><%= @user.name %></h1>
    <% else %>
      <p>Name unavailable, 
      <%= link_to "Edit your profile here", edit_user_path(@user) %>
      </p>
    <% end %>
    <%= render "settings", user: @user %>
  </div>

  <div class = "section">
  
  <p><strong>Email: </strong>
    <%= @user.email %>
  </p>

  <p><strong>User type: </strong>
    <%= @user.type == "Teacher" ? "Lecturer" : "Student" %>
  </p>

  <% if @user.is_student? %>
    <p><strong>Total points earned: </strong>
       <%= @user.point %> 
    </p>
  <% end %>

  <h2>Subjects: </h2>
  <% if @user.subjects.any? %>
    <ul class = "subjects">
      <% @user.subjects.each do |subject| %>
        <li><%= subject.title %></li>
      <% end %>
    </ul>
  <% else %>
    <p><em>No subjects available.</em></p>
  <% end %>
  </div>

</div>
 