<nav class="nav">
  <div class="nav-header">
    <% if current_user %>
      <%= active_link_to user_dashboard_path(current_user), "dashboard", platform_name %>
    <% else %>
      <%= link_to platform_name, root_url %>
    <% end %>
  </div>
  <div class="dropdown-toggle" >
    <div class="dash"></div>
    <div class="dash"></div>
    <div class="dash"></div>
  </div>
  <ul class="dropdown">
    
    <% if should_display_about_and_features %>
      <a href="#feature"><li>Features</li></a>
    <% end %>

    <% if current_user %>
      
      <!-- Dashboard -->
      <%= active_link_to user_dashboard_path(current_user), "dashboard", "Dashboard" %>

      <!-- Profile -->
      <%= active_link_to user_path(current_user), "show", "Profile" %>
      
      <!-- Sign Out -->
      <%= link_to session_path("current"), method: "delete" do %>
        <li>Sign Out</li>
      <% end %>

    <% else %>

      <%= link_to sign_in_path do %>        
        <li>Sign In</li>
      <% end %>
      <%= link_to new_user_path do %>
        <li>Sign Up</li>
      <% end %>

    <% end %>
  </ul>
</nav>
