<nav class="nav">
  <div class="nav-header">
    <%= link_to platform_name, root_url %>
  </div>
  <div class="dropdown-toggle" >
    <div class="dash"></div>
    <div class="dash"></div>
    <div class="dash"></div>
  </div>
  <ul class="dropdown">
    <li>About</li>
    <li>Features</li>

    <% if current_user %>
    
      <li>Logged in as <%= current_user.email %></li>
      <%= link_to session_path("current"), method: "delete" do %>
        <li>Sign Out</li>
      <% end %>

    <% else %>

      <%= link_to sign_in_path do %>        
        <li>Sign In</li>
      <% end %>
      <%= link_to new_user_path do %>
        <li>Sign Up</li>
      <% end %>

    <% end %>
  </ul>
</nav>
