<%= form_for @subject do |f| %>

  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2 class = "alert alert-alert">Form is invalid</h2>
      <ul>
        <% @subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <hr>

  <h2>Students</h2>
  <%= render "user_field", subject: @subject %>

  <div class="form-group">
    <%= f.submit class: "btn" %>
  </div>

<% end %>