<div class = "grid-item">
  <div class = "box box-panel" id = "<%= dom_id(subject) %>">  
    <div class = "header blue-header">        
      <h1><%= link_to subject.title, subject_path(subject) %></h1>
      <%= render "subjects/settings", subject: subject %>
    </div>
    
    <div class = "section">
      <!-- Unhidden List -->
      <%= render "lists/unhidden_list", subject: subject %>
      <!-- Hidden List -->
      <%= render "lists/hidden_list", subject: subject %>
    </div>
  </div>
</div>