<div class = "container center-block with-top-margin">
  <h1><%= @subject.title %></h1>
  <p>taught by: 
    <%= link_to @subject.teacher.name, @subject.teacher %>  
  </p>
  <% if current_user.is_student? %>
    <p><strong>Total Points: </strong><%= @subject.point(current_user) %></p>
  <% end %>

  <% if current_user.is_teacher? %>
  <div class="middle-menu">
    <%= link_to "Add List", new_subject_list_path(@subject) %>
    <%= link_to "Edit Subject", edit_subject_path(@subject) %>
    <%= link_to "Delete Subject", subject_path(@subject), method: :delete, data: { confirm: "You are about to delete this subject (#{@subject.title}). Are you sure?" } %>
  </div>
  <% end %>
</div>

<div class = "flex-row-container">
  <% if current_user.is_teacher? %>
    <%= render "teachers/show_subject", subject: @subject %>
  <% else %>
    <%= render "students/show_subject", subject: @subject %>
  <% end %>
</div>

