<div class = "container center-block">
  <h1><%= @subject.title %></h1>
</div>

<div class = "flex-row-container">
  <% @subject.lists.each_with_index do |list, index| %>
    <div class = "col-3">
    <div class = "box" id = "<%= dom_id(list) %>">
      <%= render partial: list, locals: { subject: @subject, last_index: true } %>
    </div>
    </div>
  <% end %>

  
  <% if current_user.is_teacher? %>    
    <div class = "col-3">
    <div class = "box">
    <%= link_to "Add List", new_subject_list_path(@subject) %>
    </div>
    </div>
    <div class = "col-3">
    <div class = "box">
    <%= link_to "Add Students", add_students_subject_path(@subject) %>
    </div>
    </div>
  <% end %>
</div>