<div class = "container center-block">
  <h1><%= @subject.title %></h1>
</div>

<div class = "flex-row-container">
  <% @subject.lists.each do |list| %>
    <div class = "col-3">
    <div class = "box">
      <h1><%= list.title %></h1>
      <% list.tasks.each do |task| %>
        <p id="<%= dom_id(task) %>">
          <%= check_box_tag "task_id",task.id,false,{:class=>"checkDone",:task=>task.id,:user=>current_user.id} %>
          <%= task.title %>
        </p>
      <% end %>
      <%= link_to "Add Task", new_subject_list_task_path(@subject, list) %>
    </div>
    </div>
  <% end %>
  <%= link_to "Add List", new_subject_list_path(@subject), class: "btn" %>
</div>